:root {
    --primary-color: #b6d0f1;
    --secondary-color: #5a5621;
    --accent1: #1b2408;
    --accent2: #e2e9ff;
}

h1 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    background-color: var(--accent2);
    color: var(--primary-color);
}

h2 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
    color: var(--secondary-color);
}

p{
    font-weight: 500;
    color: var(--accent1);
    padding: 10px;;
}


a{
    text-decoration: none;
}

* {
    max-width: 850px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    border: solid rgba(132, 127, 206, 0.329);
    margin-bottom: 10px;
}

h1 {
    position: absolute;
    top: 11%;
    left: 2px;
    width: 850px;
    background: rgba(87, 122, 116, 0.74);
    text-align: center;
    color: var(--accent2);

}
 article {
    position: absolute;
    top:30%;
    left:10%;
    width: 700px;
    display: block;
    background-color: var(--secondary-color);
    background: rgba(27, 59, 27, 0.5);
    border: solid rgba(148, 180, 173, 0.336);
    padding: 0;
    margin: 2px;
    font-size: small;
    border-radius: 10px;
 }

article img {
    float: right;
    margin: 10px;
    border-radius: 10px;
} 

article p{
    color: var(--accent2);
}

header {
    display: grid;
    background-color: var(--accent1);
    background: rgba(7, 39, 7, 0.5);
    width: 850px;
    height: 100px;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    margin-bottom: 10px;
    border: solid rgba(148, 180, 173, 0.336);
}

header img{
    width: 120px;
    height: 100px;
    position: relative;
    left: 90px;
}

header nav {
    display: flex;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 20px;
    background-color: var(--secondary-color);
    background: rgba(157, 177, 150, 0.123);
    padding: 10px;
    border: solid rgba(165, 212, 187, 0.055);
    justify-content: space-around;
    width: 400px;
    height: auto;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 850px;
    height: auto;
    border: solid rgba(121, 163, 141, 0.096);
}

 section h2 {
    text-align: center;
    grid-column: 1/6;
 }

 figure img {
    width: 100px;
    height: auto;
    border-radius: 10px;
 }

 figure figcaption {
    text-align: left;
 }

footer {
    display: grid;
    place-items: center;
    background-color: var(--accent1);
    background: rgba(7, 39, 7, 0.5);
    width: 850px;
    height: auto;
    grid-template-columns: 7fr 3fr;
    align-items: center;
    margin-bottom: 10px;
    border: solid rgba(148, 180, 173, 0.336);
}

footer nav {
    display: flex;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 20px;
    background-color: var(--secondary-color);
    background: rgba(157, 177, 150, 0.123);
    padding: 10px;
    border: solid rgba(165, 212, 187, 0.055);
    width: 200px;
    justify-content: space-around;
    height: auto;
}

footer img {
    width: 40px;
    height: auto;
}

.map {
    margin: 10px 0 10px 0; 
} 

.employee img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}
.employee figcaption {
    text-align: center;
}

form {
    width: 850px;
    margin: 10px 0 10px 0;
    border: 1px solid rgb (0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color:#eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb (0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 1rem;
    color: navy;
    font-size: 1.2em;
}

label, input, button, select, textarea {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

label[for="feedback"] {
text-align: left;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    height:20px;
    vertical-align: left;
}

button {
    padding:.5rem;
    border: none;
    font-size: 1rem;
    color: #eee;
    background-color: navy;
    border-radius: 0.5rem;
    width: 100%;
    height: 40px;
}

button:hover {
    background-color: darkgreen;
}


.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 11fr;
    margin: 1rem;  
}

.column2 {
grid-template-columns: 1fr 4fr;
}

.contact {
    border: solid rgba(166, 226, 213, 0.329);
    margin-top: 60px;
    background-color: rgba(148, 180, 173, 0.336);
    font-family: 'Times New Roman', Times, serif;
    width: 850px;
}

