:root {
    --border: 1px solid rgb(202, 197, 197);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    
}

nav a:hover {
    background-color: yellow;
    color: darkblue;
    font-size: large;
    width: 150px;
    text-align: center;
}


h1 {
    color: darkblue;
    padding: 20px 0;
    text-align: center;

}

 main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

 main p {
    width: 840px;
    padding: 20px ;
    background: darkblue;
    color: #fff;
    box-shadow: rgb(179, 22, 22) 0 0 20px;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 840px;
    margin: 0;
    border: var(--border);
    padding: 10px;
    background-color: #eee;
    color: black;
    box-shadow: darkblue 0 0 20px;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

aside img {
    width: 200px;
    height: auto;
}

aside p {
    margin-top: 10px;
    padding: 10px;
    background-color: red;
    color: #eee;
    box-shadow: yellow 0 0 20px;
}

footer {
    padding: 20px;
    margin-top: 10px;
    border-top: var(--border);
    text-align: center;
    background-color: darkblue;
    color: #fff;
}

/* Class Selectors */
.box {
    margin: 10px;
    border: var(--border);
    margin-top: 20px;
    padding: 10px;
    background-color: #eee;
}

ul {
    list-style-type: none;
    width: 840px;
    box-shadow: yellow 0 0 20px;
}

.box a {
    text-decoration: none;
    color: darkblue;
}

.box a:hover {
    background-color: blue;
    color: white;
    font-size: large;
    width: 200px;
}


